<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/ljones1877/bootcamp1">Lorin</a>. 
    Lorin Jones is learning how to code to become a more rounded engineer.
  </p>
  <br />
  <p>
    I am learning and developing into a versatile and adaptable individual.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Lorin Jones</h2>
      <br />
      <p>
        Lorin Jones is a petroleum engineer that has worked all over the United States and Canada. I am currently learning to code and develop webpages. I will be furthering my education as a data scientist when I complete the bootcamp.
      </p>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
